html {
  background: url(image/2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 40px;
  height: 300px;
  width: 250px;
  margin: 50px auto;

}
.profile_pic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.object{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 40px;
  height: auto;
  width: 250px;
  margin: 50px auto;
}
.academic{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 40px;
  height: auto;
  width: 280px;
  margin: 50px auto;
}
.strength{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 40px;
  height: auto;
  width: 250px;
  margin: 50px auto;
}
.tech{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 50px;
  height: auto;
  width: 250px;
  margin: 50px auto;
}
  .project{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 50px;
    height: auto;
    width: 250px;
    margin: 50px auto;
}
.per{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 40px;
  height: auto;
  width: 250px;
  margin: 50px auto;
}

.contact{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 40px;
  height: auto;
  width: 250px;
  margin:  50px auto;
}
.social{

  color: white;
  font-size: 40px;
  padding: 10px;
  height: auto;
  width: 250px;
  margin: auto;


}

@media screen and (max-width:959px) {
  .content{
    width: 100%;
}
.object{
  width: 100%;
}
.academic{
  width: 100%;
}
.strength{
  width: 100%;
}
.tech{
  width: 100%;
}
.project{
  width: 100%;
}
.per{
  width: 100%;
}
.contact{
  width: 100%;
}
.social{
  width: 100%;
}
}

@media screen and (max-width:640px) {
  .content{
    width: 500px;
}
.object{
  width: 500px;
}
.academic{
  width: 500px;
}
.strength{
  width: 500px;
}
.tech{
  width: 500px;
}
.project{
  width: 500px;
}
.per{
  width: 500px;
}
.contact{
  width: 500px;
}
.social{
  width: 500px;
}
}
@media screen and (max-width:320px) {
  .content{
    width: 200px;
}
.object{
  width: 200px;
}
.academic{
  width: 200px;
}
.strength{
  width: 200px;
}
.tech{
  width: 200px;
}
.project{
  width: 200px;
}
.per{
  width: 200px;
}
.contact{
  width: 200px;
}
.social{
  width: 200px;
}
}
